.auth {
  padding-top: 5%;
  background-color: white;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  position: absolute;
  left: 370px;
  display: inline-block;
}
.auth label {
  margin: 0 35px 20px;
  padding-bottom: 20px;
}

.field {
  font-weight: bold;
  width: 200px;
  margin: 0 35px 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f6f7f9;
  color: #748194;
  font-size: 14px;
}
.btn {
  font-weight: bold;
  width: 230px;
  margin: 0 35px 20px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #ee9ba3;
  color: white;
  font-size: 14px;
}
a {
  text-decoration: none;
}
